.overlay-basket {
    position: relative;
    background-color: var(--red-bg-color);
    width: 100vw;
    left: -16px;
    height: 433px;
    padding: 1rem;
    z-index: 900;
    overflow-x: auto;
}

.overlay-basket__title {
    text-align: center;
}

.basket__list {
    list-style: none;
    width: 100%;
}

.basket__list-item, .basket__title-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.basket__item {
    color: var(--black-text-color);
    font-size: 1.4rem;
    font-weight: 700;
}

.separator {
    align-self: end;
    width: 100%;
    height: 1rem;
    background: repeating-radial-gradient(
        circle,
        black 0%,
        black 1px,
        transparent 1px,
        transparent 6px
        );
        background-size: 8px 8px;
        background-repeat: repeat-x;
    margin-top: 1rem;
}

.basket-total-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .8rem;
    background-color: var(--medium-grey-bg-color);
}

.basket-total__title {
    color: var(--black-text-color);
    font-size: 1.4rem;
    font-weight: 700;
}

.basket-total__amount {
    color: var(--black-text-color);
    font-size: 1.4rem;
    font-weight: 700;
}

.basket-preview-order-btn {
    width: 100%;
    background-color: var(--dark-black-btn-bg-color);
    color: var(--white-text-color);
    font-size: 1.5rem;
}