.map__title {
    text-transform: uppercase;
    font-size: 2rem;   
}

.map__selection-foodtrucks {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    font-size: 1.2rem;
}

.map__img-container {
    margin-top: 3rem;
}

.map__img {
    width: 100%;
}