.map__title {
    text-transform: uppercase;
    font-size: 2rem;   
}

.map__selection-foodtrucks {
    margin: 1rem 0;
    font-size: 1.2rem;
    width: 100%;
}

.map__img-container {
    width: auto;
    height: 60vh;
    overflow: hidden;
}

.map__address-container {
    list-style-type: none;
}

.map__address {
    padding-top: 1rem;
}

.map__address-button{
    width: 100%;
    font-size: 1.2rem;
}