/* Base */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    --dark-grey-bg-color: #605858;
    --light-grey-bg-color: #EEEEEE;
    --white-bg-color: #fff;
    --black-bg-color: #000;
    --red-bg-color: #EB5757;

    --black-text-color: #000;
    --white-text-color: #fff;
}

/* Utils */
.content-wrapper {
    max-width: 390px;
    margin: 0 auto;
    border: 1px solid #000;
    background-color: green;
}

/* ==== INDEX PAGE ==== */
body {
    color: var(--red-bg-color);
    background-color: var(--dark-grey-bg-color);
}

