/* style imports */
@import url('/styles/about.css');

/* Font imports */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap");

/* Base */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    --dark-grey-bg-color: #605858;
    --light-grey-bg-color: #eeeeee;
    --white-bg-color: #fff;
    --black-bg-color: #000;
    --red-bg-color: #eb5757;
    --black-text-color: #000;
    --white-text-color: #fff;
}

/* Utils */
.content-wrapper {
    width: 100%;
}

